PORT=3001
CORS_ORIGINS=https://seu-front.vercel.app,https://www.seu-dominio.com

MONGODB_URI=mongodb://127.0.0.1:27017
DB_NAME=ai_faq

SITE_KEY=2a522e0c0614664e5dff8bb7
API_PRIVATE_KEY=006c6eae025f45e3337d5683815c61c6b23f0b73f2ae728349d821e44ad3d38

OLLAMA_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3
OLLAMA_TEMPERATURE=0.2

DEMO_MODE=free
DEMO_TEXT=Cloudly demo
LEAD_MODE=auto
LEAD_THRESHOLD=0.35
